<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="info.fumbler.royalerumble" level="DEBUG" />

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.security" level="INFO" />
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>